footer {
  height: 6rem;
  width: 100%;
  background-color: var(--navbar-bg-color);
  color: var(--navbar-text-color);
  bottom: 0;
  position: fixed;
  z-index: 1;
}

.privacidad {
  display: none;
}

.direccion {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.direccion p {
  margin: 0 auto;
  font-size: 1.1rem;
}

@media all and (min-width: 991px) {
  .direccion {
    flex-direction: row;
  }

  .direccion p {
    font-size: 1.4rem;
    display: flex;
    align-self: center;
  }
  
    

}

