.navbar {
  background-color: var(--navbar-bg-color);
  color: var(--navbar-text-color);
  height: 6rem;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 9rem;
  height: 6rem;
  margin-left: 0.2rem;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  z-index: 2;
}

.nueva-cuenta > a {
 display: flex;
 width: 100%;   
 text-align: end;
 margin-top: .5rem; 
 margin-right: .5rem;
 font-size: 1.2rem;
 text-decoration: none;
 text-decoration-line: underline;   
 color: var(--navbar-text-color);
 text-decoration-color: var(--navbar-text-color);   
}


@media all and (min-width: 480px) {
    
}